<div class="{{ span|default:'' }}">
    <label
        for="{{ field.id_for_label }}"
        class="
            mb-1 block text-xs
            font-medium text-slate-700
        "
    >
        {{ field.label }}

        {% if field.field.required %}
            <span class="text-red-600">*</span>
        {% endif %}
    </label>

    {{ field }}

    {% if field.help_text %}
        <p class="mt-1 text-[11px] text-slate-500">
            {{ field.help_text }}
        </p>
    {% endif %}

    {% for error in field.errors %}
        <p class="mt-1 text-xs text-red-600">
            {{ error }}
        </p>
    {% endfor %}
</div>