DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SECRET_KEY=replace-this-development-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DATABASE_ENGINE=sqlite
SQLITE_NAME=db.sqlite3

POSTGRES_DB=liberia_ehr
POSTGRES_USER=liberia_ehr
POSTGRES_PASSWORD=replace-me
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
