{% extends "administration/base.html" %}


{% comment %}
============================================================
ADMINISTRATION DASHBOARD PAGE

File:
apps/administration/templates/administration/dashboard.html

Purpose:
- Render the complete administration dashboard page.
- Include the dashboard partial used by HTMX requests.
============================================================
{% endcomment %}


{% block administration_content %}
    {% include "administration/partials/dashboard_content.html" %}
{% endblock %}